<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
    <property name="monitor.log.pattern"	value="[%d{'MM-dd HH:mm:ss,SSS',GMT+8:00}] %-5p [%.10t][%X{CU}] -  [%c][%L] - %m%n" />
    <property name="monitor.log.charset"	value="UTF-8" />
    <property name="monitor.log.level"	value="INFO" />
    <property name="monitor.log.root"	value="/data/logs/dubbo-monitor" />
    
    <!--本地启动用-->
    <!--<property name="monitor.log.root"	value="${logback.path}" />-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${monitor.log.pattern}</pattern>
            <charset>${monitor.log.charset}</charset>
        </layout>
    </appender>
    
    <!-- 所有错误 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->
    <appender name="ALLERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <File>${monitor.log.root}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${monitor.log.root}/error/error.%d.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    
    <appender name="MONITOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${monitor.log.root}/monitor.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${monitor.log.root}/monitor/monitor.%d.log</FileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>
    
    <!--这里指定logger name 是为jmx设置日志级别做铺垫 -->
    <logger name="com.edianyun" level="INFO">
        <appender-ref ref="MONITOR" />
    </logger>
    
    <logger name="org.apache.ibatis" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <!--<logger name="com.alibaba.dubbo" level="INFO"/>-->
    <logger name="org.apache.zookeeper" level="INFO"/>
    
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ALLERROR" />
    </root>

</configuration>